<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<div class="container">
<div class="row">

<div class="offset-md-3">
</div>

<div class="col-md-6">
<div class=home-text-flex>
<h1 class="home-text">welcome to <i class="fa-solid fa-book"></i>Bookers!!</h1>
<p class="home-text">In<i class="fa-solid fa-book"></i>Bookers,</p>
<p class="home-text">you can share and exchange your opinions,inpressions,and emotions<br />
about various books!
</p>
</div>

<div class="offset-md-3">
</div>

<div class="col-11 mx-auto">
<%= link_to "Log in",new_user_session_path, class: "btn btn-block btn-info"%>

<%= link_to "Sign up",new_user_registration_path, class: "btn btn-block btn-success"%>
</div>
</div>
</div>
</div>